<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--Text File connection String-->
	<appSettings>
		<add key="filePath" value="C:\Users\rollm\Desktop\ComputerScienceAssessments\ThirdYear\CSharp\Visual Studio programming\CourseWork\TextFiles"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>